.each_food_category
	= link_to '/show_category_locations/bagels', remote: true do
		.category_details
			%span.category_text Bagels
			= image_tag 'bagel.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/burgers', remote: true do
		.category_details
			%span.category_text Burgers
			= image_tag 'burger.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/burritos', remote: true do
		.category_details
			%span.category_text Burritos
			= image_tag 'burrito.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/candy', remote: true do
		.category_details
			%span.category_text Candy
			= image_tag 'candy.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/coffee', remote: true do
		.category_details
			%span.category_text Coffee
			= image_tag 'coffee.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/croissants', remote: true do
		.category_details
			%span.category_text Croissants
			= image_tag 'croissant.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/donuts', remote: true do
		.category_details
			%span.category_text Donuts
			= image_tag 'donut.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/hotdogs', remote: true do
		.category_details
			%span.category_text Hotdogs
			= image_tag 'hotdog.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/ice+cream', remote: true do
		.category_details
			%span.category_text Ice Cream
			= image_tag 'icecream.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/indian', remote: true do
		.category_details
			%span.category_text Indian Food
			= image_tag 'indian.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/juice', remote: true do
		.category_details
			%span.category_text Juice
			= image_tag 'juice.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/noodles', remote: true do
		.category_details
			%span.category_text Noodles
			= image_tag 'noodles.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/pasta', remote: true do
		.category_details
			%span.category_text Pasta
			= image_tag 'pasta.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/sandwiches', remote: true do
		.category_details
			%span.category_text Sandwiches
			= image_tag 'sandwich.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/seafood', remote: true do
		.category_details
			%span.category_text Seafood
			= image_tag 'seafood.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/soup', remote: true do
		.category_details
			%span.category_text Soup
			= image_tag 'soup.svg', height: "90px"
.each_food_category
	= link_to '/show_category_locations/tacos', remote: true do
		.category_details
			%span.category_text Tacos
			= image_tag 'taco.svg', height: "90px"