// Categories for types of Food Trucks a user can choose from
// Keeping it static for now 
#food_categories
  .each_food_category
    = link_to '#' do
      .category_details#bagels
        %span.category_text Bagels
        = image_tag 'bagel.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#burgers
        %span.category_text Burgers
        = image_tag 'burger.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#burritos
        %span.category_text Burritos
        = image_tag 'burrito.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#candy
        %span.category_text Candy
        = image_tag 'candy.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#coffee
        %span.category_text Coffee
        = image_tag 'coffee.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#croissants
        %span.category_text Croissants
        = image_tag 'croissant.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#donuts
        %span.category_text Donuts
        = image_tag 'donut.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#hotdogs
        %span.category_text Hotdogs
        = image_tag 'hotdog.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#icecream
        %span.category_text Ice Cream
        = image_tag 'icecream.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#indian
        %span.category_text Indian Food
        = image_tag 'indian.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#juice
        %span.category_text Juice
        = image_tag 'juice.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#noodles
        %span.category_text Noodles
        = image_tag 'noodles.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#pasta
        %span.category_text Pasta
        = image_tag 'pasta.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#sandwiches
        %span.category_text Sandwiches
        = image_tag 'sandwich.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#seafood
        %span.category_text Seafood
        = image_tag 'seafood.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#soup
        %span.category_text Soup
        = image_tag 'soup.svg', height: "70px"
  .each_food_category
    = link_to '#' do
      .category_details#tacos
        %span.category_text Tacos
        = image_tag 'taco.svg', height: "70px"
